version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "fix"
    commit-message:
      prefix: "fix: "
    open-pull-requests-limit: 5
    allow:
      - dependency-type: "all"
  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "fix"
    commit-message:
      prefix: "fix: "
    open-pull-requests-limit: 5
    allow:
      - dependency-type: "all"
