name: CI/CD Pipeline

on:
  push:
    branches:
      - '**'
    tags:
      - 'v*.*.*'
  pull_request:
    branches:
      - '**'
  workflow_dispatch:

jobs:
  lint:
    uses: ./.github/workflows/ruff.yaml

  test:
    needs: lint
    uses: ./.github/workflows/pytest.yaml

  docker:
    needs: test
    uses: ./.github/workflows/docker-build-and-scan.yaml
    with:
      DOCKER_PATH_CONTEXT: .
      DOCKER_BUILD_DOCKERFILE: ./Dockerfile
      DOCKER_TAGS: ${{ github.repository }}:${{ github.sha }}
      DOCKER_LOAD_BOOL: false
      DOCKER_PUSH_BOOL: ${{ github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/v') }}
    secrets: inherit

  release:
    if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/v')
    needs: [test, docker]
    uses: ./.github/workflows/release.yaml
    secrets: inherit
